
<div>

		<h2>Log in to Your Account</h2>

		<%=form_tag "/sessions" do %>
			<div class="row">
		    	<div class="col-sm-1 text-left"><%=label_tag (:email)%></div>
		    	<div class="col-sm-11"><%=text_field_tag (:email)%></div>
			</div>

			<div class="row">
		    	<div class="col-sm-1 text-left"><%=label_tag (:password)%></div>
		    	<div class="col-sm-11"><%=text_field_tag (:password)%>
		    		<div class="btn"><%=submit_tag ("Log In")%></div>
		    	</div>
		    </div>
		<% end %>

</div>

<div>
	<h2>Sign Up</h2>
	<%= render 'form' %>
</div>
