<!DOCTYPE html>
<html>
  <head>
    <title>Food for People</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<%= csrf_meta_tags %>

<!-- this is needed to show pictures that are stored in your project -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
			<nav class="navbar">


				<a href="/"><button class="nav-button" type="button">Home</button></a>
				<a href="/signup"><button class="nav-button" type="button">Sign Up</button></a>
				<a href="/login"><button class="nav-button" type="button">Log In</button></a>
        <% unless current_user.cart.nil? %>
        <%= link_to "cart", cart_path(current_user.cart.id) if current_user %>
        <% end %>
        <a href="/products"><button class="nav-button" type="button">Our Products</button></a>
				<form><input type="search" class="search-field">Search Products</form></a>
			</nav>
</header>
    <%= yield %>
  </body>
</html>
